{% extends 'base.html.twig' %}
{% block body %}
    {% include 'tools/navbarAdmin.html.twig' %}

    <!-- List group-->
    {#            <ul class="list-group shadow"> #}

    <div class="container">
        <div class="title-container">
            <h2 class="title">Product List</h2>
        </div>

    <div class="product-list">

        <!-- list group item-->
        {% for product in products %}


            <div class="product-item">
                <img src="{{ asset('uploads/images/'~ product.imagename) }}" alt="Product 1">
                <div class="product-info">
                    <h2>{{ product.name }}</h2>
                    <p class="price">{{ product.price }} <i class="fa-solid fa-euro-sign"></i></p>
                </div>
                <div class="icons">
                    <a class="icon-container" href="{{ path('app_admin_update', { 'id': product.id }) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="icon-container" href="{{ path('app_admin_delete', { 'id': product.id }) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>



{% endblock %}
